body {

}

#banner {
    width: 100%;
}

.princípal {
	    background: #CCCCCC
}

h1 {
	  text-align: center
}

p {
	  text-align: center
}

#missao {
	   font-size: 20px
}

em strong {
	   color: #FF0000;
}

.itens {
	  font-style: italic
}

.benefícios {
	    background: #FFFFFF;
}

h2 {
	   text-align: center
}
